.sheet-container {
    width: 750px;
    background: white;
}

.sheet-nowrap {
    white-space: nowrap;
    display: inline-block;
}

.sheet-invisible {
    display: none;
}

input[type=text]{
    border-radius: 30px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    padding-left: 3px;
    padding-right: 3px;
}

input[type=number]{
    border-radius: 30px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fff;
    font-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

input[type=number]:disabled{
    background-color: #ccc;
}

span{
    margin: 0;
    padding: 0;
    font-size: 10px;
}

button[type=roll]:before{
    background-image: none;
    content: "" !important;
}

button[type=roll]{
    background: none;
    border: none;
    box-shadow: none;
    font-size: 12px;
    text-align: left;
    padding: 0;
    margin: 0;
}

button[type=roll] span{
    font-size: 12px;
    font-weight: bold;
}

button[type="roll"]:hover {
	text-shadow: 1px 1px 2px black;
}

.sheet-col {
    width: 49%;
}

/*** Tab ***/
.sheet-sheet_type[value="pc"] ~ .sheet-tabs {
	position: relative;
	margin-bottom: -15%;
}

.sheet-tabs div:after {
    border-bottom: 1px solid #000;
}

.sheet-tabs div {
    margin-bottom: 2px;
    display: inline-block;
}

.sheet-tabs button[type="action"] {
	background-color: #ccc;
	border: 1px solid #000;
	color: #777;
	font-family: sans-serif;
	font-size: 1em;
	text-transform: capitalize;
	margin-right: -5px;
	width:100px;
}			

.sheet-tabs input[value*="core"] ~ button[name*="core"],
.sheet-tabs input[value*="combat"] ~ button[name*="combat"],
.sheet-tabs input[value*="note"] ~ button[name*="note"] {
	background-color: #fff;
	border-bottom: none;
	color: #000;
}

.sheet-core,
/*.sheet-combat,*/
.sheet-note {
    display: none;
}

.sheet-options_toggle[value="core"] ~ .sheet-core,
.sheet-options_toggle[value="combat"] ~ .sheet-combat,
.sheet-options_toggle[value="note"] ~ .sheet-note {
    display: inline-block;
}

/*** PC-header ***/
.sheet-info-box {
    display: inline-block;
}

.sheet-info-line {
    width: 500px;
}

.sheet-info-block {
    display: inline-block;
    margin-right: 3px;
}

.sheet-info-block h1{
    font-size: 12px;
}

.sheet-info-block input[type=number]{
    border-radius: 0;
    padding-bottom: 3px;
    border: none;
    border-bottom: 1px solid black;
}

.sheet-info-block input[type=text]{
    border-radius: 0;
    padding-bottom: 3px;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: -7px;
    width: 100%;
}

.sheet-logo {
    background: url(https://raw.githubusercontent.com/Plenett/character-sheets/master/Fragged-Empire/images/logo.png) top no-repeat;
    background-size: contain;
    width: 238px;
    height: 100px;
    display: inline-block;
}

/*** PC-Core ***/
/*** Resources & Influence***/
.sheet-level,
.sheet-resource {
    margin: 5px;
}

.sheet-resources h1{
    width: 14%;
    display: inline-block;
    font-size: 12px;
    line-height: 1em;
}

.sheet-resources input[type=number]{
    width: 2.5%;
}

.sheet-resources input[type=text] {
    width: 22.5%;
}

.sheet-level h1{
    width: 22%;
}

.sheet-resource .sheet-space {
    display: inline-block;
    width: 10%;
}

/*** Attributes ***/
.sheet-stats {
    display: block;
}

.sheet-attributes {
    margin-top: 10px;
}

.sheet-strength_toggle[value="1"] ~ .sheet-strength-base,
.sheet-reflexes_toggle[value="1"] ~ .sheet-reflexes-base,
.sheet-movement_toggle[value="1"] ~ .sheet-movement-base,
.sheet-focus_toggle[value="1"] ~ .sheet-focus-base,
.sheet-intelligence_toggle[value="1"] ~ .sheet-intelligence-base,
.sheet-perception_toggle[value="1"] ~ .sheet-perception-base {
    background-color: #ccc;
    pointer-events: none;
}

.sheet-attribute input[type=checkbox]{
    position: absolute;
    left: 130px;
    transform: scale(0.75);
}

.sheet-attribute {
    margin-bottom: 2px;
}

.sheet-attribute input[type=text]{
    width: 45%;
}

.sheet-attribute input[type=number]{
    width: 5%;
}

.sheet-attribute button[type=roll]{
    width: 30%;
}

.sheet-attribute-text {
    width: 27%;
    display: inline-block;
    margin-left: 3px;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    border: 1px solid black;
    border-radius: 30px;
    padding-left: 5px;
}

.sheet-fate-text {
    width: 27%;
    display: inline-block;
    margin-left: 3px;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 30px;
    padding-left: 5px;
}

.sheet-attribute h1 {
    width: 30%;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.sheet-advantage h1 {
    width: 14%;
    display: inline-block;
    font-size: 12px;
    line-height: 1em;
}

.sheet-advantage textarea {
    display: inline-block;
    padding-left: 2px;
    font-size: 1rem;
    resize: none;
    margin: 0;
    width: 98%;
    height: 40px;
}

.sheet-spare-time h1 {
    width: 28%;
    display: inline-block;
    font-size: 12px;
    line-height: 1em;
}

.sheet-spare-time input[type=number]{
    width: 5%;
}

.sheet-spare-time .sheet-space {
    width: 10%;
    display: inline-block;
}

/*** Skills ***/
.sheet-skills h1 {
    font-size: 18px;
    text-align: center;
    text-space-collapse: collapse;
}

.sheet-legend-skill span{
    display: inline-block;
    right: 200px;
    font-size: 0.5em;
    text-align: right;
    float: right;
    overflow: auto;
}

/*** Primary Skills ***/
.sheet-primary-skills {
    margin-top: 3px;
}

.sheet-primary-skills input[type=text]{
    width: 34%;
}

.sheet-primary-skills input[type=number]{
    width: 5%;
}

.sheet-primary-skills button[type=roll]{
    width: 25%;
}

.sheet-primary-skills input[type=checkbox]{
    transform: scale(0.75);
    margin: -3px;
    padding: 0;
    border: 0;
}

/*** Combat Skill ***/
.sheet-combat-skills {
    margin-top: 3px;
}

.sheet-combat-skills input[type=text]{
    width: 46%;
    float: right;
    margin-top: 2.5px;
}

.sheet-combat-skills input[type=number]{
    width: 5%;
}

.sheet-combat-skills button[type=roll]{
    width: 25%;
}

.sheet-combat-skills input[type=checkbox]{
    transform: scale(0.75);
    margin: -2.5px;
    padding: 0;
    border: 0;
}

.sheet-personal-skill {
    display: inline-block;
    margin-bottom: 3.5px;
}

/*** Strong hit ***/
.sheet-strong-hit {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sheet-strong-hit input[type=text]{
    border-radius: 0;
    padding-bottom: 3px;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 0px;
    margin-right: 5px;
    width: 95%;
    font-size: 10px;
}

.sheet-strong-hit h1{
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
    padding-left: 10px;
    line-height: 0;
}

.sheet-strong-hit button[type=roll]{
    width: 2%;
    font-family: 'Pictos';
}

/*** PC-combat ***/
/*** attribute ***/
.sheet-combat .sheet-stats .sheet-col {
    width: 32%;
}

.sheet-combat .sheet-stats .sheet-space {
    display: inline-block;
    width: 10%;
}

.sheet-combat .sheet-col input[type=number] {
    width: 9%;
}

.sheet-combat .sheet-col .sheet-attribute-text,
.sheet-combat .sheet-col .sheet-fate-text {
    width: 50%;
}

.sheet-combat .sheet-attributes {
    display: inline-block;
}

.sheet-combat .sheet-condition {
    display: inline-block;
}

.sheet-combat .sheet-condition h1 {
    display: inline-block;
    font-size: 12px;
    line-height: 1em;
}

.sheet-combat .sheet-condition textarea {
    display: inline-block;
    padding-left: 2px;
    font-size: 1rem;
    resize: none;
    margin: 0;
    width: 135%;
    height: 52px;
    line-height: 1.3em;
}

.sheet-combat-stats {
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.sheet-combat-stats h1 {
    width: 60%;
    font-size: 12px;
    line-height: 1em;
    display: inline-block;
}

.sheet-order,
.sheet-overburdened, 
.sheet-stealth {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 20px;
}

.sheet-overburdened h1 {
    width: 30%;
}

.sheet-overburdened span {
    font-size: 8px;
}

/*** Roll Template ***/
.sheet-rolltemplate-skill .sheet-template-container {
    background-color:#111111;
    border:4px solid #550000;
    color:#eebb99;
    text-align:left;
    font-size:1em;
    width:100%;
    margin-right:5%;
}

.sheet-rolltemplate-skill .sheet-template-header {
    background-color:#444444;
    text-align:center;
    color:#eebb99;
    font-size:2em;
    width: 90%;
    padding: 8px;
    border: 2px solid red;
}

.sheet-rolltemplate-skill .sheet-template-bonuses {
    background-color:#111111;
    width: 90%;
    padding: 8px;
    border: 2px solid red;
    border-top: none;
}

.sheet-rolltemplate-skill .sheet-template-row {
    text-align:left;
    color:#eebb99;
    font-size:1em;
    width: 100%;
}

.sheet-rolltemplate-skill .sheet-template-roll {
    background-color:#444444;
    text-align:center;
    color:#eebb99;
    font-size:2em;
    width: 90%;
    padding: 8px;
    border: 2px solid red;
    border-top: none;
}

.sheet-rolltemplate-skill .sheet-template-hit {
    background-color:#444444;
    text-align:center;
    color:#eebb99;
    font-size:1.5em;
    width: 90%;
    padding: 8px;
    border: 2px solid red;
    border-top: none;
}

.sheet-rolltemplate-skill .inlinerollresult {
    border: none;
    background: none;
}


