.sheet-container {
    width: 750px;
    background: white;
}

.sheet-nowrap {
    white-space: nowrap;
    display: inline-block;
}

.sheet-invisible {
    display: none;
}

input[type=text]{
    border-radius: 30px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    padding-left: 3px;
    padding-right: 3px;
}

input[type=number]{
    border-radius: 30px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    width: 20px;
    text-align: center;
    background-color: #fff;
    font-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

input[type=number]:disabled{
    background-color: #ccc;
}

span{
    margin: 0;
    padding: 0;
    font-size: 10px;
}

button[type=roll]:before{
    background-image: none;
    content: "" !important;
}

button[type=roll]{
    background: none;
    border: none;
    box-shadow: none;
    font-size: 12px;
    text-align: left;
    padding: 0;
    margin: 0;
}

button[type=roll] span{
    font-size: 12px;
    font-weight: bold;
}

button[type="roll"]:hover {
	text-shadow: 1px 1px 2px black;
}

.sheet-col {
    width: 49%;
}

/*** Sheet-tab ***/

.sheet-player,
.sheet-npc,
.sheet-ship{
    display: none;
}

.sheet-sheet_toggle[value="player"] ~ .sheet-player,
.sheet-sheet_toggle[value="npc"] ~ .sheet-npc,
.sheet-sheet_toggle[value="ship"] ~ .sheet-ship,
.sheet-sheet_toggle[value="drone"] ~ .sheet-drone {
    display: inline-block;
}

.sheet-sheet_tabs input[value*="player"] ~ button[name*="player"],
.sheet-sheet_tabs input[value*="npc"] ~ button[name*="npc"],
.sheet-sheet_tabs input[value*="ship"] ~ button[name*="ship"],
.sheet-sheet_tabs input[value*="drone"] ~ button[name*="drone"] {
	background-color: #fff;
	border-bottom: none;
	color: #000;
}

.sheet-sheet_tabs div:after {
    border-bottom: 1px solid #000;
}

.sheet-sheet_tabs div {
    margin-bottom: 2px;
    display: inline-block;
}

.sheet-sheet_tabs button[type="action"] {
	background-color: #ccc;
	border: 1px solid #000;
	color: #777;
	font-family: sans-serif;
	font-size: 1em;
	text-transform: capitalize;
	margin-right: -5px;
	width:20%;
}

/*** NPC ***/
.sheet-npc .sheet-stats .sheet-col {
    width: 23%;
}

.sheet-npc .sheet-stats input[type=number]{
    width: 9%;
}

.sheet-npc .sheet-attribute-text{
    width: 20% !important;
    font-size: 10px;
    padding: 1px 0px 2px 5px;
    margin: 2px 0 2px 0;
}

.sheet-npc .sheet-fate-text{
    width: 20%;
    font-size: 10px;
    padding: 1px 0px 2px 3px;
    margin: 5px 0 5px 0;
}

.sheet-npc .sheet-space {
    display: inline-block;
    width: 25%
}

.sheet-npc .sheet-attributes{
    width: 30% !important;
}

.sheet-npc .sheet-attribute{
    margin: 0;
}

.sheet-npc .sheet-defense,
.sheet-npc .sheet-armor,
.sheet-npc .sheet-endurance{
    width: 20% !important;
    border: none;
    border-left: 1px solid black;
    margin: 5px;
    padding: 10px 5px 10px 5px;
}

.sheet-npc .sheet-defense input[type=number],
.sheet-npc .sheet-armor input[type=number],
.sheet-npc .sheet-endurance input[type=number]{
    width: 12%;
}

.sheet-npc .sheet-armor h1{
    width: 45%;
}

.sheet-npc .sheet-armor h2{
    width: 84%;
}

.sheet-npc .sheet-endurance h1{
    width: 40%;
}

.sheet-npc .sheet-endurance h2{
    width: 40%;
}

.sheet-npc .sheet-endurance-act {
    display: inline-block;
    width: 50%;
    padding-left: 6px;
}

.sheet-npc .sheet-endurance-act h2 {
    display: inline-block;
    font-size: 10px;
    width: 42%;
}

.sheet-npc .sheet-endurance-act input[type=number]{
    width: 18%;
}

.sheet-npc .sheet-split {
    margin: 2px 0 2px 0;
    border-top: 1px solid black;
}

.sheet-npc .sheet-trait {
    width: 100%;
    margin-top: 10px;
}

.sheet-npc .sheet-trait input[type=text] {
    width: 99%;
    border-radius: 0;
}

.sheet-npc .sheet-trait h2 {
    width: 100%;
    font-size: 8px;
    line-height: 1em;
    padding-left: 12px;
}

.sheet-npc .sheet-trait h1 {
    width: 100%;
    font-size: 15px;
    line-height: 1em;
    padding-left: 12px;
}

/*** Ship ***/
.sheet-ship .sheet-stats input[type=number]{
    width: 5%;
}

.sheet-ship .sheet-stats textarea{
    height: 53px !important;
}

.sheet-ship .sheet-stats .sheet-space{
    width: 7.5%;
    display: inline-block;
}

.sheet-ship .sheet-cargo {
    margin: 10px 0 0px 0;
}

.sheet-ship .sheet-cargo h1{
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
}

.sheet-ship .sheet-cargo input[type=number]{
    width: 2.5%;
}

.sheet-ship .sheet-cargo .sheet-space {
    width: 10px;
    display: inline-block;
}

.sheet-ship .sheet-number{
    font-size: 9px;
    text-align: center;
}

.sheet-drone-number{
    display: inline-block;
    border: none !important;
    border-bottom: 1px solid black !important;
    width: 5% !important;
    border-radius: 0 !important;
    margin-bottom: 3px;
}

.sheet-ship .sheet-ordnance .sheet-space {
    width: 39%;
    display: inline-block;
}

.sheet-ship .sheet-ordnance .sheet-rounded-number {
    width: 2.5%;
}

.sheet-rounded-number{
    border: 1px solid black;
    border-radius: 30px !important;
    display: inline-block;
}

.sheet-ship .sheet-combat-stats .sheet-col{
    width: 31%;
}

.sheet-ship .sheet-combat-stats input[type=number]{
    width: 20px;
}

.sheet-ship .sheet-combat-stats h1{
    font-size: 15px;
    width: 60%;
    margin: 5px 0 5px 0;
}

.sheet-ship .sheet-combat-stats h2{
    font-size: 11px;
    display: inline-block;
    width: 60%;
    line-height: 1em;
    margin: 5px 0 5px 0;
}

.sheet-ship .sheet-endurance {
    padding-bottom: 0;
}
/*** PC-Tab ***/
.sheet-tabs div:after {
    border-bottom: 1px solid #000;
}

.sheet-tabs div {
    margin-bottom: 2px;
    display: inline-block;
}

.sheet-tabs button[type="action"] {
	background-color: #ccc;
	border: 1px solid #000;
	color: #777;
	font-family: sans-serif;
	font-size: 1em;
	text-transform: capitalize;
	margin-right: -5px;
	width:100px;
}			

.sheet-tabs input[value*="core"] ~ button[name*="core"],
.sheet-tabs input[value*="combat"] ~ button[name*="combat"],
.sheet-tabs input[value*="note"] ~ button[name*="note"] {
	background-color: #fff;
	border-bottom: none;
	color: #000;
}

.sheet-core,
.sheet-combat,
.sheet-note {
    display: none;
}

.sheet-options_toggle[value="core"] ~ .sheet-core,
.sheet-options_toggle[value="combat"] ~ .sheet-combat,
.sheet-options_toggle[value="note"] ~ .sheet-note {
    display: inline-block;
}

/*** PC-header ***/
.sheet-info-box {
    display: inline-block;
}

.sheet-info-line {
    width: 500px;
}

.sheet-info-block {
    display: inline-block;
    margin-right: 3px;
}

.sheet-info-block h1{
    font-size: 12px;
}

.sheet-info-block input[type=number]{
    border-radius: 0;
    padding-bottom: 3px;
    border: none;
    border-bottom: 1px solid black;
}

.sheet-info-block input[type=text]{
    border-radius: 0;
    padding-bottom: 3px;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: -7px;
    width: 100%;
}

.sheet-logo {
    background: url(https://raw.githubusercontent.com/Plenett/character-sheets/master/Fragged-Empire/images/logo.png) top no-repeat;
    background-size: contain;
    width: 238px;
    height: 100px;
    display: inline-block;
}

/*** PC-Core ***/
/*** Resources & Influence***/
.sheet-level,
.sheet-resource {
    margin: 5px;
}

.sheet-resources h1{
    width: 14%;
    display: inline-block;
    font-size: 12px;
    line-height: 1em;
}

.sheet-resources input[type=number]{
    width: 2.5%;
}

.sheet-resources input[type=text] {
    width: 22.5%;
}

.sheet-level h1{
    width: 22%;
}

.sheet-resource .sheet-space {
    display: inline-block;
    width: 10%;
}

/*** Attributes ***/
.sheet-stats {
    display: block;
}

.sheet-attributes {
    margin-top: 10px;
}

.sheet-strength_toggle[value="1"] ~ .sheet-strength-base,
.sheet-reflexes_toggle[value="1"] ~ .sheet-reflexes-base,
.sheet-movement_toggle[value="1"] ~ .sheet-movement-base,
.sheet-focus_toggle[value="1"] ~ .sheet-focus-base,
.sheet-intelligence_toggle[value="1"] ~ .sheet-intelligence-base,
.sheet-perception_toggle[value="1"] ~ .sheet-perception-base {
    background-color: #ccc;
    pointer-events: none;
}

.sheet-attribute input[type=checkbox]{
    position: absolute;
    left: 27%;
    top: -2px;
    transform: scale(0.75);
}

.sheet-attribute {
    position: relative;
    margin-bottom: 2px;
}

.sheet-attribute input[type=text]{
    width: 45%;
}

.sheet-core .sheet-attribute input[type=number]{
    width: 5%;
}

.sheet-attribute button[type=roll]{
    width: 30%;
}

.sheet-attribute-text {
    width: 27%;
    display: inline-block;
    margin-left: 3px;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    border: 1px solid black;
    border-radius: 30px;
    padding-left: 5px;
}

.sheet-fate-text {
    width: 27%;
    display: inline-block;
    margin-left: 3px;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 30px;
    padding-left: 5px;
}

.sheet-attribute h1 {
    width: 30%;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.sheet-advantage h1 {
    width: 14%;
    display: inline-block;
    font-size: 12px;
    line-height: 1em;
}

.sheet-advantage textarea {
    display: inline-block;
    padding-left: 2px;
    font-size: 1rem;
    resize: none;
    margin: 0;
    width: 98%;
    height: 40px;
}

.sheet-spare-time h1 {
    width: 28%;
    display: inline-block;
    font-size: 12px;
    line-height: 1em;
}

.sheet-spare-time input[type=number]{
    width: 5%;
}

.sheet-spare-time .sheet-space {
    width: 10%;
    display: inline-block;
}

/*** Skills ***/
.sheet-skills h1 {
    font-size: 18px;
    text-align: center;
    line-height: 1.5em;
}

.sheet-skills {
    margin-top: 3px;
}

.sheet-skills span{
    font-size: 8px;
    margin-left: 1px;
}

.sheet-skills tr{
    line-height: 10px;
}

.sheet-skills input[type=text]{
    width: 95%;
    margin-left: 3px;
    font-size: 12px;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
}

.sheet-skills input[type=number]{
    width: 95%;
}

.sheet-skills button[type=roll]{
    width: 100%;
    padding: 0;
    padding-bottom: 1px;
}

.sheet-skills input[type=checkbox]{
    transform: scale(0.75);
    padding: 0;
    border: 0;
}

/*** Strong hit ***/
.sheet-strong-hit {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sheet-strong-hit input[type=text]{
    border-radius: 0;
    padding-bottom: 3px;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 0px;
    margin-right: 5px;
    width: 95%;
    font-size: 10px;
}

.sheet-strong-hit h1{
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
    padding-left: 10px;
    line-height: 0;
}

.sheet-strong-hit button[type=roll]{
    width: 2%;
    font-family: 'Pictos';
}

.sheet-slots h1{
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
    padding-left: 10px;
    line-height: 0;
}

.sheet-slots input[type=number]{
    width: 13%;
}

.sheet-slots span{
    font-size: 8px;
    margin-left: 1px;
}

.sheet-slots input[type=text]{
    width: 95%;
    margin-bottom: 3px;
}

.sheet-research-cargo .sheet-col {
    width: 48%;
}

.sheet-research-cargo h1{
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
    line-height: 0;
}

.sheet-research-cargo span{
    font-size: 8px;
    margin-left: 1px;
    text-align: center;
}

.sheet-top-left {
    position: absolute;
    top: 0;
    left: 1px;
}

.sheet-top-right {
    position: absolute;
    top: 0;
    right: 1px;
}

.sheet-bot-left {
    position: absolute;
    bottom: 0;
    left: 1px;
}

.sheet-bot-right {
    position: absolute;
    bottom: 0;
    right: 1px;
}

.sheet-research-cargo table{
    width: 100%;
}

.sheet-research {
    width: 100%;
    margin-right: 5px;
}

.sheet-cargo {
    width: 100%;
    margin-left: 5px;
}

.sheet-research-cargo td {
    text-align: center;
}

/*** PC-combat ***/
/*** attribute ***/
.sheet-combat .sheet-stats .sheet-col {
    width: 32%;
}

.sheet-combat .sheet-stats .sheet-space {
    display: inline-block;
    width: 10%;
}

.sheet-combat .sheet-col .sheet-attribute-text,
.sheet-combat .sheet-col .sheet-fate-text {
    width: 50%;
}

.sheet-combat .sheet-attributes {
    display: inline-block;
}

.sheet-combat .sheet-condition {
    display: inline-block;
}

.sheet-combat .sheet-condition h1 {
    display: inline-block;
    font-size: 12px;
    line-height: 1em;
}

.sheet-combat .sheet-condition textarea {
    display: inline-block;
    padding-left: 2px;
    font-size: 1rem;
    resize: none;
    margin: 0;
    width: 135%;
    height: 52px;
    line-height: 1.3em;
}

.sheet-combat-stats {
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.sheet-combat-stats h1 {
    width: 60%;
    font-size: 12px;
    line-height: 1em;
    display: inline-block;
}

.sheet-attribute input[type=number],
.sheet-order input[type=number],
.sheet-overburdened input[type=number], 
.sheet-stealth input[type=number] {
    width: 9%;
}

.sheet-order,
.sheet-overburdened, 
.sheet-stealth {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 20px;
}

.sheet-overburdened h1 {
    width: 30%;
}

.sheet-overburdened span {
    font-size: 8px;
}

.sheet-scatter {
    padding-top: 5px;
    margin-right: 20px;
    position: relative;
}

.sheet-scatter .sheet-image {
    background: url(https://raw.githubusercontent.com/Plenett/character-sheets/master/Fragged-Empire/images/dispersion.PNG) top no-repeat;
    background-size: contain;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 55px;
    height: 55px;
    display: inline-block;
}

/*** other-stats ***/
.sheet-other-stats {
    margin-top: 10px;
}

.sheet-other-stats .sheet-col{
    width: 23%;
}

.sheet-endurance,
.sheet-armor,
.sheet-cover,
.sheet-defense {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-right: 1px solid black;
}

.sheet-endurance{
    padding-bottom: 26px;
    border: 0;
}

.sheet-cover{
    padding-bottom: 11px;
}

.sheet-other-stats input[type=number] {
    width: 12%;
}

.sheet-other-stats h1{
    width: 45%;
    font-size: 12px;
    line-height: 1em;
    display: inline-block;
}

.sheet-other-stats h2{
    width: 45%;
    font-size: 8px;
    line-height: 1em;
    display: inline-block;
}

.sheet-cover h1{
    width: 60%;
}

.sheet-cover h2{
    font-size: 10px;
    width: 40%;
}

.sheet-cover span{
    font-size: 7px;
}

.sheet-armor h2{
    width: 81%;
}

.sheet-endurance h1{
    width: 48%;
    font-size: 11px;
}

.sheet-endurance h2{
    width: 48%;
}

/*** Equipement ***/
.sheet-equipements {
    margin-top: 20px;
}

.sheet-equipement {
    margin-top: 10px;
}

.sheet-equipement h1{
    font-size: 15px;
    line-height: 1em;
}

.sheet-equipement h2{
    font-size: 8px;
    line-height: 1em;
    text-align: center;
}

.sheet-equipement input[type=number],
.sheet-equipement input[type=text]{
    width: 95%;
    border-radius: 0;
    margin: 0 auto;
}

.sheet-name{
    width: 99% !important;
    border-radius: 30px 0 0 30px !important;
    padding-left: 5px;
}

.sheet-variation{
    width: 99% !important;
    border-radius: 0 30px 30px 0 !important;
}

.sheet-cost{
    width: 99% !important;
    border-radius: 30px !important;
    text-align: center;
}

.sheet-equipement .sheet-comment {
    border: 0;
    border-bottom: 1px solid black;
    width: 100% !important;
    margin-bottom: 10px !important;
}

.sheet-natural-weapon input[type=text]:disabled,
.sheet-natural-weapon input[type=number]:disabled {
    background-color: #ffffff;
}

.sheet-ammo {
    margin-left: 2px !important;
    margin-right: 2px !important;
    border-radius: 30px !important;
    display: inline-block;
    width: 35% !important;
}

.sheet-drone .sheet-rounded-number {
    width: 2.5% !important;
}

.sheet-drone .sheet-space {
    width: 23%;
    display: inline-block;
}

/** PC-actions **/

.sheet-player .sheet-actions .sheet-col {
    width: 33%;
}

.sheet-actions h1 {
    background: black;
    font-size: 11px;
    color: white;
    text-align: center;
    border-radius: 20px;
    line-height: 1.5em;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 96%;
}

.sheet-action {
    margin-bottom: 5px;
    height: 30px;
}

.sheet-action button {
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
    font-size: 8px !important;
    width: 22%;
    height: 100%;
    padding: 0px 3px 0px 5px !important;
    display: inline-block;
    font-weight: bold;
    margin: 0px !important;
}

.sheet-action .sheet-action-major {
    font-size: 7px;
    display: inline-block;
    width: 19%;
    vertical-align: middle;
}

.sheet-action .sheet-action-minor {
    font-size: 7px;
    display: inline-block;
    width: 46%;
    vertical-align: middle;
}

.sheet-action .sheet-action-border {
    display: inline-block;
    border-right: 1px solid black;
    height: 100%;
    vertical-align: middle;
}

/*** Roll Template ***/
.sheet-rolltemplate-action .sheet-template-containerr {
    background-color:#111111;
    border:4px solid #550000;
    color:#eebb99;
    text-align:left;
    font-size:1em;
    width:100%;
    margin-right:5%;
}

.sheet-rolltemplate-action .sheet-template-header {
    background: white;
    text-align:center;
    font-size:17px;
    font-weight: bold;
    width: 60%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 20px 20px 0px 0px;
}


.sheet-rolltemplate-action .sheet-template-bonuses{
    background: white;
    width: 60%;
    padding: 8px;
    border: 1px solid black;
    border-top: none;
}

.sheet-rolltemplate-action .sheet-template-row {
    text-align:left;
    font-size: 11px;
    width: 100%;
}

.sheet-rolltemplate-action .sheet-template-description {
    background: white;
    width: 60%;
    padding: 8px;
    border: 1px solid black;
    border-top: none;
    text-align:left;
    font-size: 9px;
}

.sheet-rolltemplate-action .sheet-template-roll {
    background: white;
    text-align:center;
    font-size:2em;
    width: 60%;
    padding: 8px;
    border: 1px solid black;
    border-top: none;
    border-radius: 0px 0px 20px 20px;
    line-height: 1em;
}

.sheet-rolltemplate-action .inlinerollresult {
    border: none;
    background: none;
}


