.sheet-container {
    width: 800px;
}

.sheet-col1,
.sheet-col2,
.sheet-col3 {
    width: 32%;
    margin-right: 3px;
    margin-left: 3px;
}

select {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    text-align: center;
    width: 30px;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

input {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    width: 20px;
    color: black;
}

button {
    background-image: none;
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    cursor: pointer;
}

button:hover {
    border-bottom:1px solid #444;
}

.sheet-right {
    float: right; 
    clear: right;
    text-align: right;
}

.sheet-center {
    float: center; 
    clear: center;
    text-align: center;
}

.sheet-left {
    float: left; 
    clear: left;
    text-align: left;
}

.sheet-right input {
    text-align: right; 
}

/* Header */
.sheet-meta {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

.sheet-metacontainer {
    line-height: 20px;
    font-size: 14px;
}

.sheet-right .sheet-metacontainer {
    float: right;
    clear: both;
}

.sheet-metacontainer input {
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 14px;
}

.sheet-metacontainer span{
    font-size: 12px;
    font-weight: bold;
}

.sheet-info {
    display: inline-block;
    height: 200px;
    width: 400px;
    vertical-align: top;
}

.sheet-info .sheet-header {
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.sheet-info .sheet-reputation {
    width: 50%;
    line-height: 15px;
}

.sheet-reputation .sheet-slider {
    width: 90%;
    height: 10px;
    box-shadow: 0 0 1pt 0.5pt black;
    opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.sheet-right .sheet-slider {
    direction: rtl;
    float: right;
    background: linear-gradient(0.25turn, #5fb55f, #fffd00, #e66465);
}

.sheet-left .sheet-slider {
    float: left;
    background: linear-gradient(0.25turn, #e66465, #fffd00, #5fb55f);
}

.sheet-reputation .sheet-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.sheet-reputation .sheet-slider::-moz-range-thumb {
  width: 5px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #696969; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.sheet-reputation .sheet-label {
    font-size: 12px;
    font-weight: bold;
}

.sheet-statuts {
    width: 140%;
    margin-left: -20%;
    margin-right: -10%;
}

.sheet-statut {
    margin-top: 20px;
    display: inline-block;
    width: 19%;
}

.sheet-statut span {
    display: inline-block;
    text-align: justify;
}

.sheet-statut .sheet-label {
    font-size: 12px;
    font-weight: bold;
}

.sheet-statut .sheet-dots {
    display: inline-block;
    float: right;
    top: 2px;
    right: -2px;
}

.sheet-statut .sheet-dots input[type='radio'] {
    height: 20px;
    width: 20px;
    opacity:0;
    position:absolute;
}

.sheet-statut .sheet-dots input[type="radio"][value="0"] + span:before {
    content: "X";
    font-size: 20px;
    text-align: center;
    opacity: 1;
}

.sheet-statut .sheet-dots input[type="radio"] + span {
    height: 20px;
    width: 20px;
}

.sheet-vert .sheet-dots input[type="radio"]:not([value="0"]) + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-prestige-checked.PNG") no-repeat;
    background-size:100%;
}

.sheet-vert .sheet-dots input[type='radio']:checked ~ input[type='radio'] + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-prestige-unchecked.PNG") no-repeat;
    background-size:100%;
}

.sheet-orange .sheet-dots input[type="radio"]:not([value="0"]) + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-fatigue-checked.PNG") no-repeat;
    background-size:100%;
}

.sheet-orange .sheet-dots input[type='radio']:checked ~ input[type='radio'] + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-fatigue-unchecked.PNG") no-repeat;
    background-size:100%;
}

.sheet-rouge .sheet-dots input[type="radio"]:not([value="0"]) + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-blessure-checked.PNG") no-repeat;
    background-size:100%;
}

.sheet-rouge .sheet-dots input[type='radio']:checked ~ input[type='radio'] + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-blessure-unchecked.PNG") no-repeat;
    background-size:100%;
}

.sheet-bleu .sheet-dots input[type="radio"]:not([value="0"]) + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-surmenage-checked.PNG") no-repeat;
    background-size:100%;
}

.sheet-bleu .sheet-dots input[type='radio']:checked ~ input[type='radio'] + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-surmenage-unchecked.PNG") no-repeat;
    background-size:100%;
}

.sheet-rose .sheet-dots input[type="radio"]:not([value="0"]) + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-handicap-checked.PNG") no-repeat;
    background-size:100%;
}

.sheet-rose .sheet-dots input[type='radio']:checked ~ input[type='radio'] + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-handicap-unchecked.PNG") no-repeat;
    background-size:100%;
}

.sheet-violet .sheet-dots input[type="radio"]:not([value="0"]) + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-5-checked.PNG") no-repeat;
    background-size:100%;
}

.sheet-violet .sheet-dots input[type='radio']:checked ~ input[type='radio'] + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-5-unchecked.PNG") no-repeat;
    background-size:100%;
}

/* Body */
.sheet-body {
    width: 100%;
}

.sheet-body .sheet-header {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
}

.sheet-body .sheet-header:before,
.sheet-body .sheet-header:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.sheet-body .sheet-header:before {
    right: 0.5em;
    margin-left: -50%;
}

.sheet-body .sheet-header:after {
    left: 0.5em;
    margin-right: -50%;
}

/*Attributs & Compétences */
.sheet-attribut {
    width: 100%;
    display: inline-block;
    line-height: 12px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 0;
    margin-bottom: 20px;
}

.sheet-col2 .sheet-attribut {
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.sheet-competences {
    margin-left: 15px;
    padding-left: 2px;
    border-left: 1px solid black;
}

.sheet-attribut .sheet-label {
    display: inline-block;
    padding-top: 5px;
    font-size: 16px;
}

.sheet-competences .sheet-label button {
    background-image: none;
    display: inline-block;
    font-size: 13px;
}

.sheet-points span {
    display: inline-block;
    text-align: justify;
}

.sheet-points .sheet-dots {
    display: inline-block;
    float: right;
    top: 2px;
    right: -2px;
}

.sheet-dots input[type="radio"][value="0"] + span:before {
    content: "X";
    text-align: center;
    opacity: 0;
}

.sheet-attribut .sheet-dots input[type=radio][value="0"] + span:before {
    font-size: 24px;
}

.sheet-competences .sheet-dots input[type=radio][value="0"] + span:before {
    font-size: 17px;
}

.sheet-dots:hover input[type="radio"][value="0"] + span:before {
    opacity: 1;
}

.sheet-attribut .sheet-dots input[type='radio'] {
    height: 20px;
    width: 20px;
    opacity:0;
    position:absolute;
}

.sheet-attribut .sheet-dots input[type='radio'] {
    height: 17px;
    width: 17px;
    opacity:0;
    position:absolute;
}

.sheet-attribut .sheet-dots input[type="radio"] + span {
    height: 20px;
    width: 20px;
}

.sheet-competences .sheet-dots input[type="radio"] + span {
    height: 17px;
    width: 17px;
    margin:1.5px;
}

.sheet-points .sheet-dots input[type="radio"][value="1"] + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-1-checked.PNG") no-repeat;
    background-size:100%;
}

.sheet-points .sheet-dots input[type="radio"][value="2"] + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-2-checked.PNG") no-repeat;
    background-size:100%;
}

.sheet-points .sheet-dots input[type="radio"][value="3"] + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-3-checked.PNG") no-repeat;
    background-size:100%;
}

.sheet-points .sheet-dots input[type="radio"][value="4"] + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-4-checked.PNG") no-repeat;
    background-size:100%;
}

.sheet-points .sheet-dots input[type="radio"][value="5"] + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-5-checked.PNG") no-repeat;
    background-size:100%;
}

.sheet-points .sheet-dots input[type='radio']:checked ~ input[type='radio'][value="1"] + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-1-unchecked.PNG") no-repeat;
    background-size:100%;
}

.sheet-points .sheet-dots input[type='radio']:checked ~ input[type='radio'][value="2"] + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-2-unchecked.PNG") no-repeat;
    background-size:100%;
}

.sheet-points .sheet-dots input[type='radio']:checked ~ input[type='radio'][value="3"] + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-3-unchecked.PNG") no-repeat;
    background-size:100%;
}

.sheet-points .sheet-dots input[type='radio']:checked ~ input[type='radio'][value="4"] + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-4-unchecked.PNG") no-repeat;
    background-size:100%;
}

.sheet-points .sheet-dots input[type='radio']:checked ~ input[type='radio'][value="5"] + span {
    background: url("https://raw.githubusercontent.com/Plenett/character-sheets/master/Le Secret Des Gardiens/image/checkbox-5-unchecked.PNG") no-repeat;
    background-size:100%;
}

/* Équipements */
.sheet-equipements .sheet-right {
    border-left: solid 2px black;
}

.sheet-equipement {
    width: 49%;
    margin-bottom: 10px;
}

.sheet-equipement .sheet-meta {
    display: inline-block;
    width: 60%;
}

.sheet-meta .sheet-selecter {
    background: #DEB887;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 30px;
    box-shadow: 0pt 0pt 1pt 0.5pt black;
}

.sheet-meta input[type=text] {
    display: inline-block;
    text-align: left;
    margin-right: -10px;
    border-bottom: solid 1px black;
    width: 74%;
    font-size: 20px;
}

.sheet-handicap span {
    display: inline-block;
    text-align: justify;
}

.sheet-handicap .sheet-label {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 30%;
}

.sheet-handicap .sheet-dots {
    display: inline-block;
    float: right;
    top: 2px;
    right: -2px;
}

.sheet-handicap .sheet-dots input[type='radio'] {
    height: 15px;
    width: 15px;
    opacity:0;
    position:absolute;
}

.sheet-handicap .sheet-dots input[type="radio"][value="0"] + span:before {
    content: "X";
    font-size: 15px;
    text-align: center;
    opacity: 0;
}

.sheet-handicap .sheet-dots:hover input[type="radio"][value="0"] + span:before {
    opacity: 1;
}

.sheet-handicap .sheet-dots input[type="radio"] + span {
    height: 15px;
    width: 15px;
}

.sheet-bonus {
    width: 39%;
    margin-top: 25px;
    float: right;
}

.sheet-bonus select {
    font-size: 12px;
    width: 3em;
    border-bottom: solid 1px black;
}

.sheet-bonus span {
    display: inline-block;
    text-align: justify;
}

.sheet-bonus .sheet-label {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}

.sheet-bonus .sheet-dots {
    display: inline-block;
    float: right;
    top: 2px;
    right: -2px;
}

.sheet-bonus .sheet-dots input[type='radio'] {
    height: 15px;
    width: 15px;
    opacity:0;
    position:absolute;
}

.sheet-bonus .sheet-dots input[type="radio"][value="0"] + span:before {
    content: "X";
    font-size: 15px;
    text-align: center;
    opacity: 0;
}

.sheet-bonus .sheet-dots:hover input[type="radio"][value="0"] + span:before {
    opacity: 1;
}

.sheet-bonus .sheet-dots input[type="radio"] + span {
    height: 15px;
    width: 15px;
}

/* Magies */
.sheet-magie {
    width: 18%;
    margin: 6px;
    display: inline-block;
    line-height: 13px;
}

.sheet-specialites {
    margin-left: 15px;
    padding-left: 2px;
    border-left: 1px solid black;
}

.sheet-magie span {
    display: inline-block;
    text-align: justify;
}

.sheet-magie .sheet-label {
    display: inline-block;
    font-size: 18px;
}

.sheet-specialites .sheet-label {
    display: inline-block;
    font-size: 13px;
}

.sheet-magie .sheet-dots {
    display: inline-block;
    float: right;
    top: 2px;
    right: -2px;
}

.sheet-magie .sheet-dots input[type='radio'] {
    height: 20px;
    width: 20px;
    opacity:0;
    position:absolute;
}

.sheet-specialites .sheet-dots input[type='radio'] {
    height: 15px;
    width: 15px;
    opacity:0;
    position:absolute;
}

.sheet-magie .sheet-dots input[type="radio"][value="0"] + span:before {
    content: "X";
    font-size: 20px;
    text-align: center;
    opacity: 0;
}

.sheet-magie .sheet-dots:hover input[type="radio"][value="0"] + span:before {
    opacity: 1;
}

.sheet-specialites .sheet-dots input[type="radio"][value="0"] + span:before {
    content: "X";
    font-size: 15px;
    text-align: center;
    opacity: 0;
}

.sheet-magie .sheet-dots input[type="radio"] + span {
    height: 20px;
    width: 20px;
}

.sheet-specialites .sheet-dots input[type="radio"] + span {
    height: 15px;
    width: 15px;
    margin: 1.5px;
}

/* Aptitudes */
.sheet-aptitudes .sheet-right {
    border-left: solid 2px black;
}

.sheet-aptitude {
    width: 49%;
    margin-bottom: 10px;
}

.sheet-aptitude .sheet-selecter {
    background: #80bfff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 30px;
    box-shadow: 0pt 0pt 1pt 0.5pt black;
}

.sheet-aptitude input[type=text] {
    display: inline-block;
    text-align: left;
    border-bottom: solid 1px black;
    width: 40%;
    font-size: 20px;
}

.sheet-text input[type=text] {
    width: 90%;
    margin-top: -20px;
    margin-left: 10px;
    font-size: 12px;
    border-left: solid 1px black;
    padding-left: 5px;
}

.sheet-puissance {
    display: inline-block;
}

.sheet-puissance span {
    display: inline-block;
}

.sheet-puissance .sheet-label {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}

.sheet-puissance .sheet-dots {
    display: inline-block;
    float: right;
    top: 2px;
    right: -2px;
}

.sheet-puissance .sheet-dots input[type='radio'] {
    height: 15px;
    width: 15px;
    opacity:0;
    position:absolute;
}

.sheet-puissance .sheet-dots input[type="radio"][value="0"] + span:before {
    content: "X";
    font-size: 15px;
    text-align: center;
    opacity: 0;
}

.sheet-puissance .sheet-dots:hover input[type="radio"][value="0"] + span:before {
    opacity: 1;
}

.sheet-puissance .sheet-dots input[type="radio"] + span {
    height: 15px;
    width: 15px;
}